<!DOCTYPE html>
<html>
<head>
    <title>Eco Scan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h1>Eco Scan</h1>

    <div class="card">
        <h3>Ler QR Code</h3>
        <p>Aponte sua câmera para o QR Code da lixeira reciclável.</p>
        <a class="button">Abrir Câmera</a>
    </div>
</div>

<div class="navbar">
    <a href="/home">🏠</a>
    <a href="/perfil">👤</a>
    <a href="/config">⚙️</a>
</div>

</body>
</html>
