<!DOCTYPE html>
<html>
<head>
    <title>Início</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h1>Bem-vindo, aluno!</h1>

    <div class="card">
        <h3>Próximas Aulas</h3>
        <p>• Matemática — 10:20</p>
        <p>• Programação — 12:10</p>
        <p>• Banco de Dados — 14:00</p>
    </div>

    <div class="card">
        <h3>Atalhos Rápidos</h3>
        <a class="button" href="/ecoscan">Eco Scan</a>
        <a class="button" href="/ifpeflow" style="background:#1E90FF">IFPE Flow</a>
    </div>
</div>

<div class="navbar">
    <a href="/home">🏠</a>
    <a href="/perfil">👤</a>
    <a href="/config">⚙️</a>
</div>

</body>
</html>
